Welcome to your account page, <%= @name %><br><br>

<a href="/"><button>Return home</button></a>


<h1>Your places</h1>
<%@listing.each do |space|%>

<%if space.account_id == Account.find_account_id(@name).to_s%>
<div>
Place name:
<b><%= space.name %></b><br><br>
Description:
<%= space.desc%><br><br>
</div>
<%end%>
<%end%>



<h1>Your Bookings</h1>
<%if @booking.select { |booking| booking.account_id == Account.find_account_id(@name).to_s }.empty?%>
   No Bookings
<%else%>
<%@booking.each do |booking|%>
<%if booking.account_id == Account.find_account_id(@name).to_s%>
<%=booking.name%>: <%=booking.date%><br>
<%end%>
<%end%>
<%end%>




     